{% extends 'base.html' %}
{% block content %}
      <h1>Users</h1>
      <div class="info">
        <p>Use Jinja templating system to produce a list of users in the SQL database.<br />
        Follow the documentation: <a href="https://flask.palletsprojects.com/en/2.0.x/quickstart/#rendering-templates">flask.palletsprojects.com/en/2.0.x/quickstart/#rendering-templates</a>.
      </div>
{% endblock %}
